* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background-color: #fcf5eb;
  padding: 0 40px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  align-items: center;
}

.whatsappLogo {
  width: 130px;
  height: 30px;
}

.nav-items {
  display: flex;
  gap: 35px;
  font-size: 15px;
}

.nav-items > p {
  cursor: pointer;
}

.navbar > button,
.btn {
  display: flex;
  padding: 10px 20px;
  /* font-size: 15px; */
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background-color: #25d366;
  border: 1px solid black;
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  gap: 10px;
  cursor: pointer;
  position: relative;
  height: 20px;
}

.features::after {
  position: absolute;
  content: "";
  width: 75%;
  height: 2px;
  background-color: #25d366;
  bottom: 0;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
  transform-origin: left;
}

.features:hover::after {
  transform: scaleX(1);
}

.features > img {
  rotate: -90deg;
  width: 10px;
  height: 15px;
}

.slide {
  position: relative;
}

.slide::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0%;
  background-color: #25d366;
  bottom: 0;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
  transform-origin: left;
}

.slide:hover::after {
  transform: scaleX(1);
}

.firstSection {
  height: 600px;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  width: 100%;
}

.maaBeti {
  background-image: url(whatsApp/MaaBeti.png);
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.firstSection > p {
  text-align: end;
  font-size: 12px;
  opacity: 0.8;
  padding-top: 15px;
}

.right {
  position: relative;
  width: 30%;
  height: 100%;
  margin-top: 5%;
}

.right img:nth-child(1) {
  width: 300px;
  animation: gm 0.5s ease-in-out;
}

@keyframes gm {
  0% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(0px);
  }
}

.right img:nth-child(2) {
  width: 300px;
  position: absolute;
  top: 3%;
  right: 16%;
  animation: dil 1s ease-in-out;
}

@keyframes dil {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.right img:nth-child(3) {
  width: 300px;
  animation: chai 1.5s ease-in-out;
}

@keyframes chai {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.right img:nth-child(4) {
  width: 300px;
  animation: voice 2s ease-in-out;
}

@keyframes voice {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.right img:nth-child(5) {
  width: 300px;
  animation: emo 2.5s ease-in-out;
}

@keyframes emo {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.right img:nth-child(6) {
  width: 300px;
  position: absolute;
  right: 16%;
  top: 72%;
  animation: emoEmoji 2.8s ease-in-out;
}

@keyframes emoEmoji {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.right img:nth-child(7) {
  width: 300px;
  animation: trip 3.3s ease-in-out;
}

@keyframes trip {
     0% {
    opacity: 0;
    transform: translateY(50px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.left {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.leftMsg {
  color: white;
}

.leftMsg > h1 {
  font-size: 50px;
  font-weight: 300;
  line-height: 55px;
  overflow-y: hidden;
  letter-spacing: -1px;
  margin-bottom: 15px;
}

.btn {
  width: 127.23px;
}

.secondSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    overflow: hidden;
}

.secondSection > img {
    width: 100%;
}

.secondSection > p {
    text-align: center;
    font-size: 2.3em;
    letter-spacing: -1px;
    font-weight: 700px;
}

.thirdSection {
  overflow: hidden;
}

.firstBday {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.leftPart p:nth-child(1) {
  font-size: 2.8em;
  line-height: 45px;
  overflow: hidden;
}

.leftPart p:nth-child(2) {
  padding-top: 18px;
  line-height: 22px;
}

.learnMore {
  position: relative;
  /* display: flex;
  align-items: center; */
}

.learnMore > span {
  display: inline-block;
  padding-top: 25px;
  font-size: 16px;
  /* text-decoration: 2px underline #25d366; */
  /* width: 300px; */
}

.learnMore::before {
  position: absolute;
  content: "";
  bottom: 0%;
  height: 2px;
  background-color: #25d366;
  width: 27%;
}

.learnMore > img {
  rotate: 180deg;
  margin-left: 8px;
  margin-bottom: 2px;
}

.rightPart > img {
  height: 570px;
}

