* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background-color: #fcf5eb;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  align-items: center;
  padding: 15px 35px;
}

.whatsappLogo {
  width: 130px;
  height: 30px;
}

.nav-items {
  display: flex;
  gap: 35px;
  font-size: 15px;
}

.nav-items > p {
  cursor: pointer;
}

.navbar > button,
.btn {
  display: flex;
  padding: 10px 20px;
  /* font-size: 15px; */
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background-color: #25d366;
  border: 1px solid black;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  gap: 10px;
  cursor: pointer;
  position: relative;
  height: 20px;
}

.features::after {
  position: absolute;
  content: "";
  width: 75%;
  height: 2px;
  background-color: #25d366;
  bottom: 0;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
  transform-origin: left;
}

.features:hover::after {
  transform: scaleX(1);
}

.features > img {
  rotate: -90deg;
  width: 10px;
  height: 15px;
}

.slide {
  position: relative;
}

.slide::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0%;
  background-color: #25d366;
  bottom: 0;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
  transform-origin: left;
}

.slide:hover::after {
  transform: scaleX(1);
}

.firstSection {
  height: 600px;
  display: flex;
  flex-direction: column;
  /* padding-top: 40px; */
  width: 100%;
  padding: 15px 35px;
}

.maaBeti {
  background-image: url(whatsApp/MaaBeti.png);
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.firstSection > p {
  text-align: end;
  font-size: 12px;
  opacity: 0.8;
  padding-top: 15px;
}

.right {
  position: relative;
  width: 30%;
  height: 100%;
  margin-top: 5%;
}

.right img:nth-child(1) {
  width: 300px;
  animation: gm 0.5s ease-in-out;
}

@keyframes gm {
  0% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(0px);
  }
}

.right img:nth-child(2) {
  width: 300px;
  position: absolute;
  top: 3%;
  right: 16%;
  animation: dil 1s ease-in-out;
}

@keyframes dil {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.right img:nth-child(3) {
  width: 300px;
  animation: chai 1.5s ease-in-out;
}

@keyframes chai {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.right img:nth-child(4) {
  width: 300px;
  animation: voice 2s ease-in-out;
}

@keyframes voice {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.right img:nth-child(5) {
  width: 300px;
  animation: emo 2.5s ease-in-out;
}

@keyframes emo {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.right img:nth-child(6) {
  width: 300px;
  position: absolute;
  right: 16%;
  top: 71%;
  animation: emoEmoji 2.8s ease-in-out;
}

@keyframes emoEmoji {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.right img:nth-child(7) {
  width: 300px;
  animation: trip 3.3s ease-in-out;
}

@keyframes trip {
     0% {
    opacity: 0;
    transform: translateY(50px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.left {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.leftMsg {
  color: white;
}

.leftMsg > h1 {
  font-size: 50px;
  font-weight: 300;
  line-height: 55px;
  overflow-y: hidden;
  letter-spacing: -1px;
  margin-bottom: 15px;
}

.btn {
  width: 127.23px;
}

.secondSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    overflow: hidden;
    padding: 0px 35px;
}

.secondSection > img {
    width: 100%;
}

.secondSection > p {
    text-align: center;
    font-size: 2.3em;
    letter-spacing: -1px;
    font-weight: 700px;
}

.thirdSection {
  overflow: hidden;
}

.firstBday {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.leftPart p:nth-child(1) {
  font-size: 2.8em;
  line-height: 45px;
  overflow: hidden;
  padding-bottom: 2%;
}

.leftPart p:nth-child(2) {
  padding-top: 18px;
  line-height: 22px;
}

.learnMore {
  position: relative;
  /* display: flex;
  align-items: center; */
}

.learnMore > span {
  display: inline-block;
  padding-top: 25px;
  font-size: 16px;
  /* text-decoration: 2px underline #25d366; */
  /* width: 300px; */
}

.learnMore::before {
  position: absolute;
  content: "";
  bottom: 0%;
  height: 2px;
  background-color: #25d366;
  width: 27%;
}

.learnMore > img {
  rotate: 180deg;
  margin-left: 8px;
  margin-bottom: 2px;
}

.rightPart > img {
  height: 570px;
}

.beach, .groupChat {
  position: relative;
}

.beach img:nth-child(2) {
  position: absolute;
  width: 260px;
  height: 250px;
  right: 12%;
  top: 27%;
}

.groupChat img:nth-child(2) {
  position: absolute;
  width: 260px;
  height: 300px;
  right: 8%;
  top: 18%;
}

.grpMore::before {
  width: 25%;
}

.bgChange {
  background-color: #111B21;
  padding: 50px;
  color: white;
}

.greenText {
  color: #25d366;
}

.footer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  height: 530px;
  background-color: #111B21;
  color: white;
  justify-content: center;
  align-items: center;
}

.upper {
  display: flex;
  width: 65%;
  height: 40%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.up1, .up2, .up3, .up4, .up5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.up1 > p, .up2 > p, .up3 > p, .up4 > p, .up5 > p {
  font-size: 13px;
  font-weight: 100;
  opacity: 0.8;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-right: 15%;
}

.up5 > p {
  margin-right: 40%;
}

.up2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

ul > li {
  margin-bottom: 20px;
}

li:hover {
  text-decoration: underline white;
}

hr {
  color: wheat;
  width: 65%;
}

.lower {
  display: flex;
  width: 65%;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  position: relative;
}

.lower > p {
  font-size: 12px;
}

.down {
  margin-bottom: 5%;
}

.social {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  align-items: center;
}

.social > i {
  border: 1px solid white;
  padding: 10px;
  border-radius: 50%;
}

.social i:nth-child(3) {
  text-align: center;
  width: 40px;
}

.social i:nth-child(4) {
  text-align: center;
  width: 37px;
}

select {
  padding: 15px 40px 15px 25px;
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 30px;
  -webkit-appearance: none;
}

.angle {
  position: absolute;
  right: 15px;
  overflow: hidden;
}

/* .btn:hover {
  background-color: white;
  transition: 0.7s;
} */

.btn::before {
  border-radius: 60%;
  scale: 1.3;
  content: "";
  position: absolute;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transform: translateY(50px);
  transition: 0.5s 0.2s;
}

.btn:hover::before {
  opacity: 1;
  transform: translateY(0px);
}

.btn:hover {
  cursor: pointer;
}


.socialMedia:hover {
  background-color: #25d366;
  border: none;
}
